body {
  margin: 0;

}

h1, h2 {
  background-color: #f1f1f1;
  width: fit-content;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;


}
.All {

}


@font-face {
    font-family: "Lexend";  
    src: local("LexendDecaRegular"),
      url("./../fonts/LexendDecaRegular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Lexend2";   
    src: local("LexendDeca[wght]"),
      url("./../fonts/LexendDeca[wght].ttf") format("truetype");
  }
  
