{% extends 'base.html.twig' %}

{% block title %}New Voyage{% endblock %}

{% block body %}
    <h1>Create new Voyage</h1>

    {{ include('voyage/_form.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_voyage_index') }}">back to list</a>

{% elseif is_granted('ROLE_EDITOR') %}
    <a href="{{ path('editor_voyage_index') }}">back to list</a>

{% endif %}
{% endblock %}
