
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accès Restreint</title>
    <!-- Inclure ici vos liens vers les fichiers CSS et autres ressources -->
</head>
<body>
    <div class="container">
        <h1>Accès Restreint</h1>
        <p>Vous n'avez pas les privilèges requis pour accéder à cette page.</p>
        <p>Si vous pensez qu'il s'agit d'une erreur, veuillez contacter l'administrateur du site.</p>
        <a href="{{ path('accueil') }}">Retour à la page d'accueil</a>
    </div>
</body>
</html>
