.card-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    margin: 20px;
    background-color: #f1f1f1;
    border-radius: 20px;
    font-weight: bold;
    width: fit-content;
  }
  

  
  .my-form-style {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds spacing between input fields */
    
  }

  .my-form-style label {
    display: block; /* Ensures each label takes up its own line */
  }
  
  .my-form-style input,
  .my-form-style textarea {
    width: 100%; 
  }
  
  
  /* Ensures responsiveness on smaller screens */
  @media (max-width: 600px) {
    .my-form-style {
      flex-direction: column;
    }
  }
  

  
  /* Ensures responsiveness on smaller screens */
  @media (max-width: 600px) {
    .my-form-style {
      flex-direction: column;
    }
  }
  
